.about {
  padding: 100px 0;
  background-color: var(--black);
}

.about h2 {
  flex: 0 0 100%;
  text-align: center;
  margin: 0 0 40px;
}

.about .img-container {
  flex: 0 0 calc(30% - 20px);
  padding: 0 0 30%;
  border-radius: var(--border-radius-5);
}

.about .content {
  flex: 0 0 calc(70% - 20px);
}