.header {
  position: fixed;
  width: 100%;
  padding: 2rem 0;
  top: 0;
  transition: all ease-in-out .2s;
  z-index: 99;
  text-align: center;
}

.header #time-elapsed {
  font-size: 12px;
  letter-spacing: 5px;
  color: white;
  text-transform: uppercase;
  font-weight: 300;
  line-height: 1.4;
}

.header.scroll-active {
  background-color: rgba(0, 0, 0, 0.8);
}

.header nav {
  justify-content: center;
  align-items: center;
}

.header .logo {
  width: 40px;
  height: 40px;
  font-size: 12px;
  color: white;
  text-transform: uppercase;
  font-weight: 500;
  line-height: 1.4;
  background-color: var(--blue);
  border-radius: var(--border-radius-5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.header a {
  font-size: 12px;
  letter-spacing: 5px;
  color: white;
  text-transform: uppercase;
  font-weight: 300;
  line-height: 1.4;
}

.header a:hover {
  color: var(--blue);
}

/* @media only screen and (max-width: 650px) {
  .header {
    #time-elapsed {
      text-align: center;
    }

    &.scroll-active {
      transform: translateY(-100%);
    }
  }
} */