.intro {
  background-color: rgba(0, 0, 0, .5);
}

.mission-statement {
  background-color: rgba(0, 0, 0, .8);
}

.intro,
.mission-statement {
  padding: 100px 0;
}

.intro h2,
.mission-statement h2 {
  text-align: center;
}

.intro .img-container,
.mission-statement .img-container {
  flex: 0 0 calc(50% - 20px);
  padding: 0 0 30%;
  border-radius: var(--border-radius-5);
}

.intro .content,
.mission-statement .content {
  flex: 0 0 calc(50% - 20px);
}

.intro .content .button,
.mission-statement .content .button {
  margin-top: 20px;
}