.services {
  padding: 100px 0;
  background-color: rgba(0, 0, 0, .8);
}

.services h2 {
  text-align: center;
}

.services .service-item {
  flex: 0 0 calc(50% - 10px);
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, .25);
  background-color: rgba(255, 255, 255, .25);
  border-radius: var(--border-radius-5);
}

.services .service-item .img-container {
  width: 100%;
  padding: 0 0 65%;
  margin-bottom: 20px;
  border-radius: var(--border-radius-5);
}